{% extends "index" %}

{% set body_classes = 'inner-page' %}
{% set pageTitle = entry.title %}
{% set pageDescription = entry.shortDescription|default('BEST International Pesticide, Pest Control') ~ " | " ~ siteName %}

{% block content %}
    {% cache using key 'products-preview' %}
        <article class="section">
        <div class="content-column content-column--narrow product-overview">

            <h1 class="centered">{{ entry.title }}</h1>

            {% set photo = entry.productThumbnail.one() %}

            <div class="centered image-content">
                {% if photo %}
                    <img src="{{ photo.url }}" loading="lazy" alt="{{ photo.title }}">
                {% else %}
                    <img src="../web/static/images/photos/mohit-suthar-a1_tFcBSp7w-unsplash.jpg" alt="Photo">
                {% endif %}
            </div>

            <!-- Slider Component -->
            <div class="slider">

                <div class="slider__nav">
                    <button type="button" class="slider__prev">
                        <img src="{{ siteUrl }}/static/images/arrow-prev.svg" alt="Previous">
                    </button>
                    <button type="button" class="slider__next">
                        <img src="{{ siteUrl }}/static/images/arrow-next.svg" alt="Next">
                    </button>
                </div>

                {# slider goes here#}
                {% include "components/slider" with {
                    photos: entry.photos.all()
                } %}

            </div>

            {{ entry.richText }}

            <!--Expand/collapse-->
            <div class="accordion-block">
                <h3 class="accordion-block-header">FAQ No. 1</h3>
                <div class="accordion-block-content">
                    <p>FAQ No. 1 content answer goes here</p>
                    <p>Accusamus amet aspernatur beatae deserunt doloremque harum ipsa, ipsum iusto, nemo.</p>
                </div>
                <h3 class="accordion-block-header">FAQ No. 2</h3>
                <div class="accordion-block-content">
                    <p>FAQ No. 2 content answer goes here</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
                <h3 class="accordion-block-header">FAQ No. 3</h3>
                <div class="accordion-block-content">
                    <p>FAQ No. 3 content answer goes here</p>
                    <p>Nbcaecati odio odit perspiciatis reiciendis soluta tempore ullam, ut voluptates.</p>
                </div>
            </div>

            <!-- responsive embed video -->
            <div class="hero-responsive ws">
                <iframe width="1280" height="720" src="https://www.youtube.com/embed/VEyy4m0U0HQ" title="Pesticide Companies Don&#39;t Want You to Know These Secrets | Complete Guide to Organic Pest Control" frameborder="0" allow="autoplay" allowfullscreen></iframe>
            </div>

            <!--Related Products-->

           <div class="related-products">
               <h3 class="title">Related Products</h3>
               <div class="two-columns product-listings">
                   {% set products = craft.entries.section('products').all() %}
                   {% set c = craft.entries.section('products').count() %}

                   {% cache using key 'products-listing' %}
                       {% for product in products  %}
                           <div class="two-columns__item product-item">

                               {% set photo = product.productThumbnail.one() %}
                               <div class="two-columns__content product-item__content">
                                   <h2>{{ product.title }}</h2>
                                   <p>{{ product.shortDescription }}<p>
                                       <a href="{{ product.url }}" class="cta-link">View Product</a>
                                   </p>
                               </div>


                               <div class="two-columns__image product-item__image">
                                   <a href="{{ product.url }}">
                                       {% if photo %}
                                           <img src="{{ photo.url }}" loading="lazy" alt="{{ photo.title }}">
                                       {% else %}
                                           <img src="../web/static/images/photos/mohit-suthar-a1_tFcBSp7w-unsplash.jpg" alt="Photo">
                                       {% endif %}
                                   </a>
                               </div>

                           </div>
                       {% endfor %}
                   {% endcache %}

               </div>
           </div>

        </div>
    </article>
    {% endcache %}
{% endblock %}

