<div class="content-column filter-wrapper">
    <div class="banner"><img src="{{ siteUrl }}static/images/banner-products.png" alt="Best International Products" ></div>
    <div class="filter-section">
        <div class="filter-block">
            <div class="title item">Pest</div>
            <div class="options item">
                {% set pests = craft.categories().group('pests') %}
                {% for pest in pests  %}
                    <div class="option">
                        <input type="checkbox" class="filters" value="{{ pest.title }}" />
                        <span>{{ pest.filterLabel != '' ? pest.filterLabel : pest.title }}</span>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="filter-block">
            <div class="title item">Category</div>
            <div class="options item">
                {% set categories = craft.categories().group('category') %}
                {% for category in categories  %}
                    <div class="option">
                        <input type="checkbox" class="filters" value="{{ category.title }}" />
                        <span>{{ category.filterLabel != '' ? category.filterLabel : category.title }}</span>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="filter-block">
            <div class="title item">Type / Features</div>
            <div class="options item">
                {% set features = craft.categories().group('typeFeatures') %}
                {% for feature in features  %}
                    <div class="option">
                        <input type="checkbox" class="filters" value="{{ feature.title }}" />
                        <span>{{ feature.filterLabel != '' ? feature.filterLabel : feature.title }}</span>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="two-columns product-listings grid-iso">
        {% set products = craft.entries.section('products').all() %}
        {% set c = craft.entries.section('products').count() %}
            {% for product in products  %}
                <div class="two-columns__item product-item
                                {% for pest  in product.pests %}{{  pest }} {% endfor %} {% for cat  in product.category %}{{ cat }} {% endfor %} {% for type  in product.features %}{{ type }} {% endfor %}
                                ">
                    {% set photo = product.productThumbnail.one() %}
                    <div class="two-columns__content product-item__content">
                        <h2>{{ product.title }}</h2>
                        <p>{{ product.shortDescription }}<p>
                            <a href="{{ product.url }}" class="cta-link">View Product</a>
                        </p>
                    </div>
                    <div class="two-columns__image product-item__image">
                        <a href="{{ product.url }}">
                            {% if photo %}
                                <img src="{{ photo.getUrl({ width: 600, height: 800, quality: 80, mode: 'fit' }) }}" loading="lazy" alt="{{ photo.title }} {{ product.shortDescription }}">
                            {% else %}
                                <img src="../web/static/images/photos/mohit-suthar-a1_tFcBSp7w-unsplash.jpg" alt="Photo">
                            {% endif %}
                        </a>
                    </div>
                </div>
            {% endfor %}
    </div>

    <div class="content-column centered testimonials no-product-found">
        <br>
        <p>Sorry, no product found please try new filter.</p>
        <br>
        <br>
        <br>
    </div>

</div>