{# subject: New submission on your {{ form.name }} form #}
{# fromEmail: {{ craft.app.projectConfig.get('email.fromEmail') }} #}
{# fromName: {{ craft.app.projectConfig.get('email.fromName') }} #}
{# replyToName: {{ craft.app.projectConfig.get('email.fromName') }} #}
{# replyToEmail: {{ craft.app.projectConfig.get('email.fromEmail') }} #}
{# cc:  #}
{# bcc:  #}
{# includeAttachments: true #}
{# presetAssets:  #}
{# templateName: Nag tanong #}
{# description: New submission sample email template #}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Enquiry Received</title>
</head>
<body>
<p>Hi ,</p><br>

<p>Thank you for reaching out to us with your enquiry. We have received your message and our team is working diligently to provide you with the best possible response as soon as possible.</p>
<br>

<p>In the meantime, if you require immediate assistance, please do not hesitate to give us a call at
    <a href="tel:09384644836">09384644836</a> /
    <a href="tel:09104138808">09104138808</a> /
    <a href="tel:09176742001">09176742001</a> /
  and one of our representatives will be happy to assist you.</p>
<br>
<p>We would also like to take this opportunity to remind you that our office is located at <address>BEST Compound, Bernardo Village Mayondon, Los Baños Laguna Philippines 4030
    <br>
    or
    <br>
    BEST Fly Control, Brgy. Sto. Rosario, Sta. Rosa, Nueva Ecija</address>
<br>
and you are more than welcome to visit us if you would like to speak with someone in person.</p>
<br>

<p>Thank you again for your enquiry, and we look forward to assisting you further.</p>
<p>Best regards,</p>
<p>Best International: https://bestinternational.com.ph/ </p>

</body>
</html>