{% extends "index" %}
{% set pageTitle = entry.title %}

{% block content %}

    {% cache using key 'home' %}

        {%  set image = entry.heroImage.one() %}
{#        <section class="hero" style="background-image: url('{{ image.getUrl('hero') }}')">#}
{#            <div class="hero__content content-column">#}
{#                <h1> {{ entry.heroTitle }}</h1>#}
{#            </div>#}
{#        </section>#}
       <div class="hero-wrapper">
           <div class="hero-responsive ws">
               <iframe src="https://player.vimeo.com/video/821510459?&api=1&background=1&muted=1&loop=1&autoplay=1" frameborder="0" allow="autoplay" allowfullscreen title="Introducing.mp4"></iframe></div>
           </div>
       </div>


        <section class="featured-story">
                <div class="featured-story__flex content-column">

                    <div class="featured-story__content">
                        {{ entry.richText }}
                        <p>
                            <a href="products/" class="cta-link">View</a>
                        </p>
                    </div>

                    {% if entry.photos.count() > 0 %}
                        <div class="featured-story__slider">
{#                            <div class="slider">#}
{#                                <div class="slider__nav">#}
{#                                    <button type="button" class="slider__prev">#}
{#                                        <img src="{{ siteUrl }}/static/images/arrow-prev.svg" alt="Previous">#}
{#                                    </button>#}
{#                                    <button type="button" class="slider__next">#}
{#                                        <img src="{{ siteUrl }}/static/images/arrow-next.svg" alt="Next">#}
{#                                    </button>#}
{#                                </div>#}
{#                            <!-- Slider Component -->#}
{#                            {% include "components/slider" with {#}
{#                                photos: entry.photos.all()#}
{#                            } %}#}
{#                            </div>#}

                            <div class="slick-slider">
                                {% for photo in entry.photos.all() %}
                                    <div><img data-lazy="{{ photo.getUrl('slider') }}" alt="{{ photo.title }}"></div>
                                {% endfor %}
                            </div>

                        </div>
                    {% endif %}

                </div>
            </section>


        <section class="section section--more-padding section--light section--angled-top">
            <div class="content-column centered">

                {{ entry.testimonyintro }}

                <div class="flex-columns">
                    {% for testimony in entry.testimonies.all() %}
                        <div class="flex-columns__item">

                            {% set photo = testimony.photo.one() %}
                            {% if photo %}
                                <img src="{{ photo.getUrl('thumbnail') }}" loading="lazy" alt="{{ testimony.clientName }}" class="flex-columns__image">
                            {% endif %}

                            <h4> {{ testimony.clientName }} </h4>
                            <p> {{ testimony.TestimonyContent }} </p>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </section>


    {% endcache %}

{% endblock %}