{% set pageTitle = pageTitle|default('Home') ~ " | " ~ siteName %}
{% set pageDescription = pageDescription|default('BEST International Home') ~ " | " ~ siteName %}

<!DOCTYPE html>
<html lang="en-US">
<head>

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />
    <link rel="shortcut icon" href="{{ siteUrl }}static/favicon.ico" type="image/x-icon" />

    <title>{{ pageTitle }}</title>
    <meta name="description" content="{{ pageDescription }}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ siteUrl  }}static/js/slick/slick.css">
    <link rel="stylesheet" href="{{ siteUrl  }}static/css/styles.css">

</head>
<body class="{{ body_classes|default('home-page') }}">

<div class="wrapper">

    <header class="header">
        <div class="header__content content-column">

            <a href="{{ siteUrl }}" class="logo">
                <img src="{{ siteUrl }}static/images/best-logo-1.png" loading="lazy" alt="{{ siteName }}" style="max-height: 70px;">
            </a>

            <button type="button" class="nav-toggle">
                <img src="{{ siteUrl }}static/images/list.svg" alt="Menu" class="icon-open-menu for-general">
                <img src="{{ siteUrl }}static/images/list-black.svg" alt="Menu" class="icon-open-menu for-homepage">
                <img src="{{ siteUrl }}static/images/x.svg" alt="Close Menu" class="icon-close-menu">
            </button>

            <nav class="nav">
                {#Pagka global pwede maacess sa lahat ng template un#}
                {#Be carefull sa field type pag MORE than one pwede multiple un#}

                {% for link in header.navLinks.all() %}
                    {%  set destination = link.linkDestination.one() %}
                    {%  set activeLink = craft.app.request.segments|first == destination.uri %}

                    <a href="{{ destination.url }}" class="nav__link {% if activeLink %} nav__link--active{% endif %} ">{{ link.linkText }}</a>
                {%  endfor %}
            </nav>

        </div>
    </header>

    {% block content %}
        {#home page#}
    {% endblock %}
    
    <div style="text-align:center" class="section-block">
        <h3 class="section-title">Visit Our Facebook Page</h3>
        <figure style="margin-left: auto;width: 828px;margin-right: auto;"><a href="https://www.facebook.com/bioentomologicalservices" target="_blank" rel="noreferrer noopener"><img src="https://bestinternational.com.ph/web/upload/Picture1.png" alt="Facebook Link"></a></figure>
    </div>
    
    <div class="flex-content">
        <h3 class="section-title">Visit Our Offices</h3>
        <div style="text-align:center;" class="section-block">
            <p>BEST Compound, Bernardo Village Mayondon, Los Baños Laguna Philippines 4030
            </p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3868.2073628031176!2d121.23731985106157!3d14.182629590021032!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x33bd60b4543670cb%3A0x5cb4bfa40e23e58f!2sAAA%20Pest%20Management%20Services!5e0!3m2!1sen!2sph!4v1649485742607!5m2!1sen!2sph" width="1200" height="600" style="border:0;text-align:center" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="map-iframe"></iframe>
        </div>


        <div style="text-align:center;" class="section-block">
            <p>BEST Fly Control, Brgy. Sto. Rosario, Sta. Rosa, Nueva Ecija</p>
            <iframe style="height:600px;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=BEST+FLY+CONTROL+Nueva+Ecija,+Santa+Rosa,+Nueva+Ecija,+Philippines&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8" width="1200" height="600" style="border:0;text-align:center" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="map-iframe"></iframe>

        </div>
    </div>

</div>

<footer class="footer">

    <div class="centered">
        <br>
        <iframe style="overflow:hidden;" src="https://docs.google.com/forms/d/e/1FAIpQLScxTAcsp_BD6lb_ENq4TGiHSu-4ShbKr_Cs6lYPfcLFKzbqeg/viewform?embedded=true"
                width="640" height="1200"
                frameborder="0" marginheight="0" marginwidth="0">Loading…
        </iframe>
    </div>

    <div class="content-column centered" style="color:black!important;">
        <p>{{ footer.richText }}</p>
    </div>
</footer>

<script src="{{ siteUrl }}static/js/jquery-1.11.0.min.js"></script>
<script src="{{ siteUrl }}static/js/slick/slick.min.js"></script>
<script src="{{ siteUrl }}static/js/scripts.js"></script>

<!-- Messenger Chat Plugin Code -->
    <div id="fb-root"></div>

    <!-- Your Chat Plugin code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>

    <script>
      var chatbox = document.getElementById('fb-customer-chat');
      chatbox.setAttribute("page_id", "311799402327460");
      chatbox.setAttribute("attribution", "biz_inbox");
    </script>

    <!-- Your SDK code -->
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          xfbml            : true,
          version          : 'v13.0'
        });
      };

      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-7MY2GFW33L"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-7MY2GFW33L');
</script>
</body>
</html>